<h1>Kullanıcı güncelle</h1>

  
  <input type="number" hidden [value]="user.id" matInput required #textId>

<mat-form-field appearance="outline" class="fille">
    <mat-label >Ad</mat-label>
    <input [value]="user.firstname" type="text" matInput required #textName>
  </mat-form-field>
  <mat-form-field appearance="outline" class="fille">
    <mat-label>Soyad</mat-label>
    <input [value]="user.lastname" type="text" matInput required #textLast>
  </mat-form-field>
  <mat-form-field appearance="outline" class="fille">
    <mat-label>Email</mat-label>
    <input [value]="user.email" type="text" matInput required #textEmail>
  </mat-form-field>
<mat-form-field appearance="outline" class="fille">
  <mat-label>Kullanıcı Rolü</mat-label   >
  <mat-select #textRole  >
    <mat-option   aria-required="true" *ngFor="let role of Role" [value]="role.value">
      {{role.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


  <button (click)="Update(textId,textEmail,textLast,textName,textRole)" class="addbutton" mat-raised-button color="primary">Güncelle</button>
